In [6]:
import sqlite3
import pandas as pd

In [7]:
# Connect to .db file (or create it if it doesn't exist)
conn = sqlite3.connect("../heart.db")

query = "SELECT * FROM heart_attack_risk"

# Load the query result into a DataFrame
df = pd.read_sql_query(query, conn)

conn.close()

In [8]:
df.head()

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,...,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk,Systolic Pressure,Diastolic Pressure,Sex_Female,Sex_Male,Diet_Average,Diet_Healthy,Diet_Unhealthy
0,67,208,72,0,0,1,0,0,4,0,...,0,6,0,158,88,0,1,1,0,0
1,21,389,98,1,1,1,1,1,1,1,...,1,7,0,165,93,0,1,0,0,1
2,21,324,72,1,0,0,0,0,2,1,...,4,4,0,174,99,1,0,0,1,0
3,84,383,73,1,1,1,0,1,9,1,...,3,4,0,163,100,0,1,1,0,0
4,66,318,93,1,1,1,1,0,5,1,...,1,5,0,91,88,0,1,0,0,1