In [3]:
import sqlite3
import pandas as pd

In [4]:
# Connect to .db file (or create it if it doesn't exist)
conn = sqlite3.connect("../heart.db")

query = "SELECT * FROM heart_attack_risk"

# Load the query result into a DataFrame
df = pd.read_sql_query(query, conn)

conn.close()

In [5]:
df.head()

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,...,Medication Use,Stress Level,Sedentary Hours Per Day,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk,Systolic Pressure,Diastolic Pressure
0,67,Male,208,72,0,0,1,0,0,4,...,0,9,6,31,286,0,6,0,158,88
1,21,Male,389,98,1,1,1,1,1,1,...,0,1,4,27,235,1,7,0,165,93
2,21,Female,324,72,1,0,0,0,0,2,...,1,9,9,28,587,4,4,0,174,99
3,84,Male,383,73,1,1,1,0,1,9,...,0,9,7,36,378,3,4,0,163,100
4,66,Male,318,93,1,1,1,1,0,5,...,0,6,1,21,231,1,5,0,91,88